.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-column{
    flex-direction: column;
}

.margin {
    margin: 2% 2%;
}

.container-blog{
    height: 70vh;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-areas: 'tab tab tab tab gui gui gui'
                         'tab tab tab tab gui gui gui'   ;
                         

}

.container-blog div:nth-child(1) {
    grid-area: tab;
    text-align: left;
    
}

.container-blog div:nth-child(2) {
    grid-area: gui;
}

#editor{
    color:#653780;
    border: none;
    background-color:#D0D1CD;
    overflow-y: scroll;
    max-height: 530px;
    width: 1300px;
    max-width: 1300px;
}
